#introduction {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-top: -50px;
}

#introduction .heading {
    font-size: 54px;
}