#introduction {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 100px;
}

#introduction .heading {
    font-size: 54px;
}

.experience-card h4{
    font-family: var(--font-secondary);
}