@import "tailwindcss";

:root {
  --primary-color: #FF014F;
  --background: #060606;
}

@theme inline {
  --color-background: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
  color: white;
  font-weight: 700;
}

body {
  background-color: var(--background);
}

.my-container {
  width: 100%;
  padding: 50px 50px 0 50px;
}

.profile-card {
  border: 1px solid rgba(121, 121, 121, 0.09);
  padding: 30px;
  position: relative;
}

.profile-card .profile-img {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0.070) 100%);
}

.profile-card .shape {
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--primary-color);
  z-index: -1;
}

.profile-card::after {
  content: "";
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 30px;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 0;
  height: calc(100% - 60px);
  width: calc(100% - 60px);
}

.profile-card .title {
  position: absolute;
  left: 60px;
  bottom: 50px;
  font-size: 44px;
  z-index: 5;
  line-height: 1.4;
  font-weight: 700;
}

.profile-card .header-caption {
  font-family: var(--font-primary);
  color: var(--primary-color);
}