@import "tailwindcss";

:root {
  --primary-color: #FF014F;
  --background: #060606;
  --text-color: #9f9f9f;
  --section-bg: #141414;
  --section-bg2: #1b1b1c;
}

@theme inline {
  --color-background: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
  color: white;
}

p {
  color: var(--text-color);
  font-family: var(--font-secondary);
  margin-top: 20px;
}

html {
  scroll-behavior: smooth;
}

html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  user-select: none;
}

[data-scroll-container] {
  will-change: transform;
}

body {
  background-color: var(--background);
}

.my-container {
  width: 100%;
  padding: 50px 50px 0 50px;
}

.section {
  padding-top: 70px;
}

.card {
  background: var(--section-bg2);
  border-radius: 5px;
  padding: 30px;
  position: relative;
  z-index: 50;
}

.card::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: var(--section-bg);
  border-radius: 5px;
  z-index: -10;
}