@import "tailwindcss";

:root {
  --primary-color: #FF014F;
  --background: #060606;
  --text-color: #9f9f9f;
}

@theme inline {
  --color-background: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
  color: white;
}

p {
  color: var(--text-color);
  font-family: var(--font-secondary);
  margin-top: 20px;
}

html {
  scroll-behavior: smooth;
}

html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  user-select: none;
}

[data-scroll-container] {
  will-change: transform;
}

body {
  background-color: var(--background);
}

.my-container {
  width: 100%;
  padding: 50px 50px 0 50px;
}

.section {
  padding-top: 70px;
}